<!DOCTYPE html>
<html lang="en">
<head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="container mt-4">
    <form  method="POST" action="{% url 'genres:genre_delete' genre.id %}" >

    <!-- Security token -->
        {% csrf_token %}
        <h1>Please confirm to delete the Genre</h1>
        {{ form.as_p }}

        <input  class="btn  btn-secondary" type="submit" value="Submit">
    </form>
</body>
</html>